.img-box{
  width: 100%;
  height: 280px;      
  overflow: hidden;
  border-radius: 30px; 
}

.img-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
}

img{
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.5;
    transition: transform 0.8s;
}

img:hover{
    opacity: 1;
    transform: scale(1.05);
}
